<?xml version="1.0" encoding="UTF-8"?>
  
<!DOCTYPE configuration PUBLIC   
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<property name="dialect" value="mysql" />
	</properties>

	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<setting name="cacheEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="true" />
		<!-- <setting name="enhancementEnabled" value="true"/> -->
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<plugins>
		<plugin interceptor="com.baomidou.mybatisplus.plugins.PaginationInterceptor">
			<property name="dialectClazz" value="com.baomidou.mybatisplus.plugins.pagination.dialects.MySqlDialect" />
		</plugin>
		<!--
        <plugin interceptor="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">
                 <property name="maxTime" value="10000" />
                 <property name="format" value="false" />
         </plugin>
         -->


	</plugins>


</configuration>
