<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 
	<bean id="adStatsService" class="com.youku.addata.adstat2.m.AdStatsService">
	</bean>
	
	<bean id="inventoryService" class="com.youku.addata.adstat2.m.InventoryService">
	</bean>
	
	<bean id="impressionService" class="com.youku.addata.adstat2.m.ImpressionService">
	</bean>
	
	<bean id="videoGroupInventoryService" class="com.youku.addata.adstat2.m.VideoGroupInventoryService">
	</bean>	
	-->	
		
</beans>	